<a href="/post/{{id}}">
    <div class=" bg-white w-full  rounded-lg mx-auto my-6 p-16 bg-indigo-400">

        <div class="flex flex-row items-center">
            <h1 class=" w-full text-2xl font-medium mb-2">{{title}}</h1>
            <div class="w-full flex justify-end ">
                <p class=" text-sm font-medium">Posted by {{user.username}} on {{format_date date}}</p>
            </div>
        </div>
        <p class="  text-sm  mb-4  ">
            {{content}}
        </p>

    </div>
</a>